@charset "utf-8"; /*
Author: Bakare Abdulwahab Akorede
Date: 02/16/2023
Description: layout design mainly for the resume
*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap");

@media only screen and (max-width: 768px) {
  /* mobile phone   */

  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 5rem;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border-bottom: 1px solid #fff;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    z-index: 1;
    background-color: #149eca;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }

  .grid-container {
    color: black;
    padding: 4px;
  }

  #contacts a {
    color: #000000;
    text-decoration: none;
  }

  .grid-container > div {
    background-color: #ffffff;
    padding: 20px 10px;
  }

  .grid-container {
    margin: .5rem;
  }

  .Ptopic {
    font-size: 20px;
  }

  .edu_location {
    font-size: 25px;
  }
  .courses {
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
  }

  .homePage {
    text-align: center;
    margin: 2rem 1rem;
  }
}

@media only screen and (max-width: 965px) {
  .skillsLogo,
  .contact {
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 769px) {
  /* Desktop   */
  .grid-container {
    font-family: "Ubuntu", sans-serif;
  }

  .grid-container ul li {
    list-style: none;
  }

  .grid-container h2 {
    border-top: 1px solid #3a5b65;
    border-bottom: 1px solid #3a5b65;
  }

  .item1 {
    grid-area: header;
  }
  .item2 {
    grid-area: menu;
  }
  #contacts {
    text-align: end;
  }
  #contacts li {
    margin-top: 8px;
  }

  #contacts a {
    color: #000000;
  }
  .item3 {
    grid-area: main;
  }
  .item3 div:last-child {
    margin-top: 1rem;
  }
  .item4 {
    grid-area: right;
  }
  .item5 {
    grid-area: footer;
  }
  .item6 {
    grid-area: aside;
  }
  .item6 p {
    margin-top: 8px;
  }
  .item7 {
    grid-area: section;
  }

  .grid-container {
    display: grid;
    grid-template-areas:
      "header header menu menu"
      "main main right right"
      "main main footer footer"
      "aside aside footer footer"
      "aside aside section section";
    /* gap: 5px; */
    color: black;
    /* background-color: #3a5b65; */
    padding: 4px;
    width: 80%;
    margin-left: 10%;
  }

  .grid-container > div {
    background-color: #ffffff;
    padding: 20px 10px;
  }

  .Ptopic {
    font-size: 20px;
  }

  .edu_location {
    font-size: 25px;
  }
  .courses {
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
  }
}

.flexContact {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* margin-top: 1rem; */
}



/* h2 {
  text-align: center;
} */
input, select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #282d35;
  border-radius: 1rem;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}
textarea {
  height: 150px;
  resize: none;
}
button {
  background-color: #282d35;
  width: 100%;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}
button:hover {
  background-color: #4b515b;
}

.container {
  width: 23rem;
  height: 90%;
  margin: 3rem;
}
.container {
  border-radius: 2rem;
  background-color: #00baf0;
  padding: 20px;


  /* position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 9999; */

}

@media only screen and (max-width: 1060px) {
  .flexContact{
    flex-direction: column;
  }
}

@media only screen and (max-width: 470px) {
  .container {
    width: 90%;
    height: 80%;
    margin: 2rem 0;
  }
}
