@charset "utf-8"; /*
Author: Bakare Abdulwahab Akorede
Date: 02/03/2023
*/

body {
  background-color: #282d35;
  /* background-color: #61dafb; */
  /* background-color: #087ea4; */
  /* background-color: #0074a6; */
  /* background-color: #149eca; */
}
